<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Login and Registration</title>
        {% load staticfiles %}
        <link rel="stylesheet" href="{% static 'validation/css/skeleton.css' %}">
        <link rel="stylesheet" href="{% static 'validation/css/normalize.css' %}">
    </head>
    <body>
        <div class="row">
            <div class="six columns">
                {% if messages %}
                    {% for message in messages %}
                        <h6>{{ message }}</h6>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
        <form action="/register" method="post">
            {% csrf_token %}
            <h3>Registration</h3>
            <div class="row">
               <div class="three columns">
                   <label for="fname">First Name: </label>
                   <input class="u-full-width" type="text" name="fname">
                </div>
               <div class="three columns">
                   <label for="fname">Last Name: </label>
                   <input class="u-full-width" type="text" name="lname">
                </div>
            </div>
            <div class="row">
                <div class="six columns">
                    <label for="email">Email: </label>
                    <input class="u-full-width" type="text" name="email">
                </div>
            </div>
            <div class="row">
                <div class="three columns">
                    <label for="password">Password: </label>
                    <input class="u-full-width" type="text" name="password">
                </div>
                <div class="three columns">
                    <label for="pass-conf">Confirm password: </label>
                    <input class="u-full-width" type="text" name="pass_conf">
                </div>
            </div>
            <input class="button-primary" type="submit" name="register" value="Register">
        </form>
        <form action="/login" method="post">
            {% csrf_token %}
            <h3>Login</h3>
            <div class="row">
                <div class="three columns">
                    <label for="log_email">Email: </label>
                    <input class="u-full-width" type="text" name="log_email">
                </div>
            </div>
            <div class="row">
                <div class="three columns">
                    <label for="log_pass">Password: </label>
                    <input class="u-full-width" type="text" name="log_pass">
                </div>
            </div>
            <input class="button-primary" type="submit" name="login" value="Login">
        </form>
    </body>
</html>
